<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="3.6.0.0"/>
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces.Desktop" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="3.6.0.0"/>
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="3.6.0.0"/>
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="3.6.0.0"/>
	  </dependentAssembly>
	</assemblyBinding>

	<gcServer enabled="true"/>
	<gcConcurrent enabled="false"/>
  </runtime>
</configuration>
