<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <bindingRedirects>
	<add key="skip" value="True" />
  </bindingRedirects>
  <packageSources>
	<add key="msbuild myget" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" protocolVersion="3" />
	<add key="Local Cache" value="PackageCache" />
  </packageSources>
</configuration>
